
.license-field {
	width: 100%;
}

.point-lbl {
	cursor: pointer;
}

select[name="user-lang"] {
	width: 200px;
}

.subpanel {
	text-align: left ;
}

.install-body {
	padding-top: 30px;
}
.btn-panel {
	margin-top: 20px;
}
.panel-title {
	text-align: center;
	margin-left: 16.6667%;
}

.devices {
	width: 50%;
	height: 50%;
}

.panel-body {
	min-height: 400px;
}

.panel-body .panel-body {
	min-height: 50px;
}

.host-name-c {
	width: 65%;
	float: left;
}

.port-c {
	width: 30%;
	float: right;
}

.label-description {
	line-height: 24px;
	height: 33px;
	display: table-cell;
	vertical-align: middle;
	padding: 14px 0 5px;
}
.semicolon-sign-c {
	text-align: center;
	width: 4%;
	float: left;
}

.semicolon-sign {
	margin-top: 5px;
}

.version {
	font-size: 90%;
	color: #999;
}

.cron-help {
	margin-top: 40px;
	color: #ad4846;
}

.cron-help pre {
	margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 0;
    text-align: left;
}

.cron-help p {
	color: #333;
}

.table {
  border-bottom: 1px solid #e8eced;
}

.setup-confirmation {
	padding: 8px;
}

.setup-confirmation .table > thead > tr > th, .setup-confirmation table td:first-child {
	padding-left: 3%;
}
.setup-confirmation .cell-website {
	margin-right: 10px;
}

.loading-panel {
    padding: 0 14px 10px 0;
    margin-top: -29px;
}

.space {
    padding: 14px;
}

span.remark {
	color: #a94442;
	font-weight: 600;
}
span.ok {
	color: #87c956;
}

.more-information {
	line-height: 1.5;
	margin-top: 40px;
	text-align: left;
}

.likes {
	border-left-color: #D7983B;
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: #F1AF4E;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin: 20px 0;
    padding: 10px;
    text-align: center;
}

.likes p {
	color: #B56F08;
	font-size: 15px;
}

.main-header.panel-heading {
    background-color: #546e7a !important;
    padding: 0px 2px;
}

#license-agree {
    margin-right: 5px;
    margin-top: -1px;
}
