/data/logs/*
/data/cache/*
/data/upload/*
/data/preferences/*
/data/.backup/*
/data/config.php
/custom
/build
/node_modules
/client
/test.php
/main.html
/frontend/client/css/bootstrap.css
/tests/testData/cache/*
composer.phar
vendor/
application/Espo/Modules/Crm/Resources/i18n/he_IL
application/Espo/Resources/i18n/he_IL
