/data/logs/*
/data/cache/*
/data/upload/*
/data/preferences/*
/data/.backup/*
/data/config.php
/build
/node_modules
/client
/test.php
/main.html
/frontend/client/css/espo.css
/frontend/client/css/espo-vertical.css
/frontend/client/css/sakura.css
/frontend/client/css/sakura-vertical.css
/tests/testData/cache/*
composer.phar
vendor/
/custom/Espo/Custom/*