<phpunit
    bootstrap="vendor/autoload.php"
    defaultTestSuite="unit"
>
  <testsuites>
    <testsuite name="unit">
      <directory>tests/unit</directory>
    </testsuite>
    <testsuite name="integration">
      <directory>tests/integration</directory>
    </testsuite>
    <testsuite name="integration-pg">
      <directory>tests/integration</directory>
      <exclude>tests/integration/Espo/Core/Utils/Database</exclude>
      <exclude>tests/integration/Espo/Core/FulltextIndex/CheckCreatedIndexTest.php</exclude>
    </testsuite>
  </testsuites>
</phpunit>
