<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <system.webServer>
        <rewrite>
            <rules>
                <rule name="RequestBlocking1" stopProcessing="true">
                    <match url="^/?data/config\.php$" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." />
                </rule>
                <rule name="RequestBlocking2" stopProcessing="true">
                    <match url="^/?data/logs/" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." />
                </rule>
                <rule name="RequestBlocking3" stopProcessing="true">
                    <match url="^/?data/cache/" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." />
                </rule>
                <rule name="RequestBlocking4" stopProcessing="true">
                    <match url="^/?data/upload/" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." />
                </rule>
                <rule name="RequestBlocking5" stopProcessing="true">
                    <match url="^/?application/" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." />
                </rule>
                <rule name="RequestBlocking6" stopProcessing="true">
                    <match url="^/?custom/" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." />
                </rule>
                <rule name="RequestBlocking7" stopProcessing="true">
                    <match url="^/?vendor/" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." />
                </rule>
            </rules>
        </rewrite>

        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
            </files>
        </defaultDocument>

        <staticContent>
        <!-- File Extensions must be removed and re-added in IIS (Unsure Why),  -->
        <!-- alternatively remove ".tpl", ".json" and ".woff" from the MIME types in IIS and then delete the "remove" lines below --> 
            <remove fileExtension=".tpl" />
            <mimeMap fileExtension=".tpl" mimeType="text/plain" />
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
        </staticContent>
    </system.webServer>

</configuration>