<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <system.webServer>
        <rewrite>
            <rules>
                <rule name="rule 1X" stopProcessing="true">
                    <match url="reset/?$"  />
                    <action type="Rewrite" url="reset.html"  appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>

        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
    </system.webServer>

</configuration>