@main-gray-value: #E8ECED;

@white-color-value: #fafbfc;

@gray-base-value: #000;
@gray-soft-value: lighten(@gray-base-value, 39.0%);
@gray-dark-value: lighten(@gray-base-value, 20%);
@gray-light-value: lighten(@gray-base, 46.7%);
@gray-lighter-value: lighten(@gray-base-value, 93.5%);

@gray-light-value: #999;

@body-bg-value: #FEFEFE;

@brand-primary-value: #5184B0;
@brand-danger-value: #CF605D;
@brand-info-value: #a595c9;
@brand-success-value: #87C956;
@brand-warning-value: #EF990E;

@brand-primary-text-value: #FFF;

@state-primary-text-value: #5b9aca;

@state-success-bg-value: lighten(spin(@brand-success-value, 5), 31%);
@state-success-text-value: darken(spin(@brand-success-value, 7), 17%);

@state-info-bg-value: #e5ddf8;
@state-info-text-value: #83779c;

@state-warning-bg-value: #fcf8e3;
@state-warning-text-value: #9E7328;

@state-danger-text-value: #ad4846;
@state-danger-bg-value: #f2dede;

@state-info-bg-mix-value: mix(@state-info-bg-value, lighten(@gray-base-value, 93.5%), 50%);

@navbar-inverse-color-value: @gray-light-value;
@navbar-inverse-bg-value: #4A6492;
@navbar-inverse-border-value: transparent;
@navbar-inverse-link-color-value: #DFDFDF;
@navbar-inverse-link-hover-color-value: #fff;
@navbar-inverse-link-hover-bg-value: transparent;
@navbar-inverse-link-disabled-color-value: #444;
@navbar-inverse-link-disabled-bg-value: transparent;

@input-border-value: #D1D5D6;
@input-border-focus-value: #66afe9;

@modal-backdrop-bg-value: #DBDBDB;

@text-color-value: @gray-dark-value;

@link-color-value: @brand-primary-value;
@link-hover-color-value: darken(@link-color-value, 15%);

@panel-bg-value: @body-bg-value;
@table-bg-accent-value: #f9f9f9;
@code-bg-value: #f9f9f9;

@default-border-color-value: @main-gray;

@panel-primary-border-value: darken(@brand-primary-value, 12%);
@panel-default-border-value: @default-border-color;
@panel-warning-bg-value: #efda97;

@btn-default-bg-value: @main-gray;
@btn-default-border-value: @main-gray;

@login-panel-heading-bg-value: @navbar-inverse-bg-value;

@gray-lighter-orange-mix-value: mix(orange, @gray-lighter-value, 50%);
