.datepicker.datepicker-dropdown {
    &:before,
    &:after {
        display: none;
    }

    &.datepicker-orient-bottom {
        margin-top: 0;
    }

    .next,
    .prev {
        color: var(--gray-soft);
    }
}

.datepicker {
  &-inline {
    width: var(--220px);
  }
  direction: ltr;
  &-rtl {
    direction: rtl;
    &.dropdown-menu { left: auto; }
    table tr td span {
      float: right;
    }
  }
  &-dropdown {
    top: 0;
    left: 0;
    padding: var(--4px);
    &:before {
      content: '';
      display: inline-block;
      border-left: var(--7px) solid transparent;
      border-right: var(--7px) solid transparent;
      border-bottom: var(--7px) solid var(--dropdown-border);
      border-top:    0;
      border-bottom-color: rgba(0,0,0,.2);
      position: absolute;
    }
    &:after {
      content: '';
      display: inline-block;
      border-left: var(--6px) solid transparent;
      border-right: var(--6px)solid transparent;
      border-bottom: var(--6px) solid var(--dropdown-bg);
      border-top:    0;
      position: absolute;
    }
    &.datepicker-orient-left:before   { left: var(--6px); }
    &.datepicker-orient-left:after    { left: var(--7px); }
    &.datepicker-orient-right:before  { right: var(--6px); }
    &.datepicker-orient-right:after   { right: var(--7px); }
    &.datepicker-orient-bottom:before { top: var(--minus-7px); }
    &.datepicker-orient-bottom:after  { top: var(--minus-6px); }
    &.datepicker-orient-top:before {
      bottom: var(--minus-7px);
      border-bottom: 0;
      border-top: var(--7px) solid var(--dropdown-border);
    }
    &.datepicker-orient-top:after {
      bottom: var(--minus-6px);
      border-bottom: 0;
      border-top: var(--6px) solid var(--dropdown-bg);
    }
  }
  table {
    margin: 0;
    user-select: none;
    tr {
      td, th {
        text-align: center;
        width: var(--30px);
        height: var(--30px);
        border-radius: var(--border-radius-small);
        border: none;
      }
    }
  }
  // Inline display inside a table presents some problems with
  // border and background colors.
  .table-striped & table tr {
    td, th {
      background-color: transparent;
    }
  }
  table tr td {
    &.old,
    &.new {
      color: @btn-link-disabled-color;
    }
    &.day:hover,
    &.focused {
      background: var(--dropdown-link-hover-bg);
      cursor: pointer;
    }
    &.disabled,
    &.disabled:hover {
      background: none;
      color: @btn-link-disabled-color;
      cursor: default;
    }
    &.highlighted {
      @highlighted-bg: @state-info-bg;
      .button-variant-espo(
          var(--btn-info-color);
          var(--btn-info-bg);
          var(--btn-info-border);
          var(--btn-info-hover-bg);
          var(--btn-info-active-bg);
          var(--btn-info-hover-border);
          var(--btn-info-active-border)
      );
      border-radius: var(--border-radius);

      &.focused {
        background: var(--state-info-bg-10);
      }

      &.disabled,
      &.disabled:active {
        background: @highlighted-bg;
        color: @btn-link-disabled-color;
      }
    }
    &.today {
      @today-bg: var(--state-warning-bg);
        .button-variant-espo(
            var(--state-warning-text);
            var(--state-warning-bg);
            var(--state-warning-bg-5);
            var(--state-warning-bg-5);
            var(--state-warning-bg-5);
            var(--state-warning-bg-5);
            var(--state-warning-bg-5)
        );

      &.focused {
        background: var(--state-warning-bg-10);
      }

      &.disabled,
      &.disabled:active {
        background: @today-bg;
        color: @btn-link-disabled-color;
      }
    }
    &.range {
      @range-bg: @gray-lighter;
      .button-variant-espo(
        #000;
        @range-bg;
        var(--gray-lighter-5);
        var(--gray-lighter-10);
        var(--gray-lighter-17);
        var(--gray-lighter-12);
        var(--gray-lighter-25)
      );
      border-radius: 0;

      &.focused {
        background: var(--gray-lighter-10);
      }

      &.disabled,
      &.disabled:active {
        background: @range-bg;
        color: @btn-link-disabled-color;
      }
    }
    &.range.highlighted {
      @range-highlighted-bg: var(--btn-success-bg);

      .button-variant-espo(
          var(--btn-success-color);
          var(--btn-success-bg);
          var(--btn-success-border);
          var(--btn-success-hover-bg);
          var(--btn-success-active-bg);
          var(--btn-success-hover-border);
          var(--btn-success-active-border)
      );

      &.focused {
        background: var(--btn-success-active-bg);
      }

      &.disabled,
      &.disabled:active {
        background: @range-highlighted-bg;
        color: @btn-link-disabled-color;
      }
    }
    &.range.today {
      @range-today-bg: var(--gray-lighter-orange-mix);
      .button-variant-espo(
        #000;
        @range-today-bg;
        var(--gray-lighter-orange-mix-5);
        var(--gray-lighter-orange-mix-10);
        var(--gray-lighter-orange-mix-12);
        var(--gray-lighter-orange-mix-17);
        var(--gray-lighter-orange-mix-25)
      );

      &.disabled,
      &.disabled:active {
        background: @range-today-bg;
        color: @btn-link-disabled-color;
      }
    }
    &.selected,
    &.selected.highlighted {
      .button-variant-espo(
        #fff;
        @gray-light;
        var(--gray-light-5);
        var(--gray-light-10);
        var(--gray-light-17);
        var(--gray-light-12);
        var(--gray-light-25)
      );
      text-shadow: 0 var(--minus-1px) 0 rgba(0,0,0,.25);
    }
    &.active,
    &.active.highlighted {
        .button-variant-espo(
            var(--btn-primary-color);
            var(--btn-primary-bg);
            var(--btn-primary-border);
            var(--btn-primary-hover-bg);
            var(--btn-primary-active-bg);
            var(--btn-primary-hover-border);
            var(--btn-primary-active-border)
        );
      text-shadow: 0 var(--minus-1px) 0 rgba(0,0,0,.25);
    }
    span {
      display: block;
      width: 23%;
      height: calc(var(--32px) + var(--22px));
      line-height: calc(var(--32px) + var(--22px));
      float: left;
      margin: 1%;
      cursor: pointer;
      border-radius: var(--border-radius-small);
      &:hover,
      &.focused {
        background: var(--dropdown-link-hover-bg);
      }
      &.disabled,
      &.disabled:hover {
        background: none;
        color: @btn-link-disabled-color;
        cursor: default;
      }
      &.active,
      &.active:hover,
      &.active.disabled,
      &.active.disabled:hover {
          .button-variant-espo(
              var(--btn-primary-color);
              var(--btn-primary-bg);
              var(--btn-primary-border);
              var(--btn-primary-hover-bg);
              var(--btn-primary-active-bg);
              var(--btn-primary-hover-border);
              var(--btn-primary-active-border)
          );
        text-shadow: 0 var(--minus-1px) 0 rgba(0,0,0,.25);
      }
      &.old,
      &.new {
        color: @btn-link-disabled-color;
      }
    }
  }

  .datepicker-switch {
    width: calc(var(--100px) + var(--40px) + var(--5px));
  }

  .datepicker-switch,
  .prev,
  .next,
  tfoot tr th {
    cursor: pointer;
    &:hover {
      background: var(--dropdown-link-hover-bg);
    }
  }

  .prev, .next {
    &.disabled {
      visibility: hidden;
    }
  }

  // Basic styling for calendar-week cells
  .cw {
    font-size: var(--10px);
    width: var(--12px);
    padding: 0 var(--2px) 0 var(--5px);
    vertical-align: middle;
  }
}
.input-group.date .input-group-addon {
  cursor: pointer;
}
.input-daterange {
  width: 100%;
  input {
    text-align: center;
  }
  input:first-child {
    border-radius: var(--3px) 0 0 var(--3px);
  }
  input:last-child {
    border-radius: 0 var(--3px) var(--3px) 0;
  }
  .input-group-addon {
    width: auto;
    min-width: var(--16px);
    padding: var(--4px) var(--5px);
    line-height: var(--line-height-base);
    border-width: var(--1px) 0;
    margin-left: calc(var(--5px) * -1);
    margin-right: calc(var(--5px) * -1);
  }
}
