
.license-field {
	width: 100%;
}

.point-lbl {
	cursor: pointer;
}

select[name="user-lang"] {
	width: 200px;
}

.subpanel {
	text-align: left ;
}


.btn-panel {
	margin-top: 20px;
}
.panel-title {
	text-align: center;
}

.loading-icon {
    background-image: url("../img/loading-icon.gif");
    background-repeat: no-repeat;
    height: 31px;
    width: 31px;
	float: right;
}

.devices {
	width: 50%;
	height: 50%;
}

