<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <security>
            <requestFiltering>
                <verbs allowUnlisted="false">
                    <add verb="GET" allowed="true" />
                    <add verb="POST" allowed="true" />
                    <add verb="PUT" allowed="true" />
                    <add verb="PATCH" allowed="true" />
                    <add verb="DELETE" allowed="true" />
                </verbs>
            </requestFiltering>
        </security>
        <rewrite>
            <rules>
                <rule name="rule 1G" stopProcessing="true">
                    <match url="^api/v1/portal-access/(.*)$" />
                    <action type="Rewrite" url="api/v1/portal-access/index.php" appendQueryString="true" />
                </rule>
                <rule name="rule 2G" stopProcessing="true">
                    <match url="^api/v1/(.*)$" />
                    <action type="Rewrite" url="api/v1/index.php" appendQueryString="true" />
                </rule>
                <rule name="rule 3G" stopProcessing="true">
                    <match url="^portal/(.*)$" />
                    <action type="Rewrite" url="portal/index.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension=".tpl" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>
