@body-bg-value: #f3f3f3;
@white-color-value: #FFF;
@panel-bg-value: @white-color-value;
@modal-backdrop-bg-value: #a3b3c7;
@navbar-inverse-bg-value: #546E7A;

@state-info-bg-value: #dbd0f5;
@state-info-bg-value: #e2e2e2;
@state-info-text-value: @text-color;

@brand-success-value: #85b75f;
@brand-primary-value: #537898;
@brand-info-value: #aba8cc;
@brand-warning-value: #e4a133;

@panel-default-border-value: #dcdcdc;
@panel-primary-border-value: #849fab;

@btn-default-bg-value: #f7f7f7;
@btn-default-border-value: #cccccc;

@input-border-focus-value: #99b4cc;

@panel-default-heading-bg-value: @white-color-value;

@navbar-bg: @body-bg;

@top-navbar-bg-color: @body-bg;

@modal-header-bg: @white-color;

@well-bg: @white-color;

@panel-border-width: 0;
