#layout ul {
    width: 100%;
    min-height: var(--100px);
    padding: 0;
    list-style-type: none;
    margin: 0;
}

#layout ul li {
    list-style: none;
    border: var(--1px) solid var(--select-item-border);
    margin: var(--5px) 0;
    padding: var(--5px);
    height: var(--34px);
}

#layout header {
    font-weight: 600;
}

#layout ul > li .left {
    float: left;
}

#layout ul > li {
    background-color: var(--select-item-bg);
    color: var(--select-item-text-color);
    border-radius: var(--border-radius);
}

#layout ul.enabled > li .right {
    float: right;
}

#layout ul.disabled > li .right {
    display: none;
}

#layout ul > li .width {
    font-size: var(--font-size-small);
}

#layout ul.disabled > li .width {
    display: none;
}

#layout label {
    font-weight: normal;
}

.enabled li a.edit-field {
    display: none;
}

.enabled li:hover a.edit-field {
    display: block;
}

#layout .well:focus-visible {
    outline: 0;
}
