    #layout ul {
        width: 100%;
        min-height: 100px;
        padding: 0;
        list-style-type: none;
        margin: 0;
    }

    #layout ul li {
        list-style: none;
        border: 1px solid #CCC;
        margin: 5px 0;
        padding: 5px;
        height: 32px;
    }

    #layout header {
        font-weight: 600;
    }

    #layout ul > li .left {
        float: left;
    }

    #layout ul > li {
        background-color: #FFF;
    }

    #layout ul.enabled > li .right {
        float: right;
    }

    #layout ul.disabled > li .right {
        display: none;
    }

    #layout ul > li .width {
        font-size: small;
    }

    #layout ul.disabled > li .width {
        display: none;
    }

    #layout label {
        font-weight: normal;
    }

    .enabled li a.edit-field {
        display: none;
    }

    .enabled li:hover a.edit-field {
        display: block;
    }