.btn {
    border-radius: var(--border-radius);

    &.radius-right {
        border-top-right-radius: var(--border-radius) !important;
        border-bottom-right-radius: var(--border-radius) !important;
    }

    &.radius-left {
        border-top-left-radius: var(--border-radius) !important;
        border-bottom-left-radius: var(--border-radius) !important;
    }
}

.btn {
    height: @input-height-base;
}
.btn-lg {
    height: @input-height-large;
}
.btn-sm {
    height: @input-height-small;
}

.btn.btn-link {
    height: auto;
}

.panel-heading .btn-sm {
    height: auto;
}

.input-group {
    .input-group-btn > {
        .btn {
            height: @input-height-base;
        }
    }

    &.input-group-sm {
        .input-group-btn > {
            .btn {
                height: @input-height-small;
            }
        }
    }
    &.input-group-lg {
        .input-group-btn > {
            .btn {
                height: @input-height-large;
            }
        }
    }

    .input-group-btn .btn.btn-sm {
        height: @input-height-small;
    }
}

.btn-icon {
    width: 36px;
    padding-left: 0;
    padding-right: 0;

    .fa, .fas {
        position: relative;
        width: 16px;
        text-align: center;
    }
    .fa-sm {
        top: -1px;
    }
}

.btn-icon.btn-sm {
    .fa-sm {
        top: 0;
    }
}

.btn-icon.btn-sm {
    width: 34px;

    .fa, .fas {
        font-size: 12px;
        width: 12px;
    }
}

.btn.btn-xs-wide {
    min-width: var(--btn-xs-wide-width);
}

.btn.btn-s-wide {
    min-width: var(--btn-s-wide-width);
}

.btn.btn-wide  {
    min-width: var(--btn-wide-width);
}

.btn.btn-x-wide  {
    min-width: var(--btn-x-wide-width);
}

.btn.btn-xx-wide  {
    min-width: var(--btn-xx-wide-width);
}

.btn.btn-icon-wide  {
    width: 54px;
}

.btn.btn-icon-x-wide  {
    width: 76px;
}

.btn.btn-icon-xx-wide  {
    width: 100px;
}

.btn.btn-full-wide {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.btn-default > .fa,
.btn-default > .far,
.btn-default > .fas {
    color: @gray-soft;
}

.btn-default > .fa.text-muted,
.btn-default > .far.text-muted,
.btn-default > .fas.text-muted {
    color: @gray-light;
}

.btn-default.disabled > .fa,
.btn-default.disabled > .far,
.btn-default.disabled > .fas {
    color: @gray-light;
}

.btn-text {
    color: var(--btn-text-color);
    border-radius: 0;

    &.btn-default {
        &:active,
        &:focus,
        &:hover {
            background-color: transparent;
            color: var(--btn-text-color);
            border-color: transparent;
        }
        &:focus-visible {
            color: var(--text-gray-color);
        }
    }
    &.btn-success {
        color: var(--state-success-text);
        &:active,
        &:focus,
        &:hover {
            background-color: transparent;
            color: var(--state-success-text);
            border-color: transparent;
        }
    }
    &.btn-danger {
        color: var(--state-danger-text);
        &:active,
        &:focus,
        &:hover {
            background-color: transparent;
            color: var(--state-danger-text);
            border-color: transparent;
        }
        &:focus-visible {
            color: var(--text-gray-color);
        }
    }
    &.btn-warning {
        color: var(--state-warning-text);
        &:active,
        &:focus,
        &:hover {
            background-color: transparent;
            color: var(--state-warning-text);
            border-color: transparent;
        }
        &:focus-visible {
            color: var(--text-gray-color);
        }
    }

    .far,
    .fas {
        color: @gray-soft;
    }

    &,
    &:active,
    &.active,
    &[disabled],
    fieldset[disabled] & {
        background-color: transparent;
        .box-shadow(none);
    }

    &,
    &:hover,
    &:focus,
    &:active {
        border-color: transparent;
    }

    &:hover,
    &:focus {
        color: var(--btn-text-color);
        text-decoration: none;
        background-color: transparent;
        .far,
        .fas {
            color: var(--btn-text-color);
        }
    }

    &:focus-visible {
        color: var(--text-gray-color);
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &:focus {
            color: @gray-light;
            text-decoration: none;
        }
        color: @gray-light;
        .far,
        .fas {
            color: @gray-light;
        }
    }

    &.active {
        border-bottom: 1px solid @gray-light;
    }

    &.btn-text-hoverable {
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    font-weight: 400;
}
