@body-bg-value: #eef1fc;
@text-color-value: #424242;
@panel-bg-value: #FFF;

@navbar-bg-value: @body-bg-value;

@input-bg-value: #FFF;
@input-box-shadow-value: none;
@input-border-value: #d5d5d5;
@default-border-color-value: #dddddd;

@default-heading-bg-color-value: #f1f1f1;

@main-gray-value: #ececec;
@gray-soft-value: #8a8a8a;

@brand-primary-value: #6490b7;
@brand-success-value: #76c57c;
@brand-warning-value: #e4a133;
@brand-danger-value: #CF605D;

@state-info-bg-value: #eee4fa;

@navbar-inverse-color-value: #d7d1d4;
@navbar-inverse-bg-value: #956289;
@navbar-inverse-link-color-value: #F7F7F7;
@navbar-inverse-link-active-bg-value: darken(@navbar-inverse-bg-value, 10%);
@navbar-inverse-link-hover-color-value: #fff;
@navbar-inverse-link-icon-color-value: @navbar-inverse-link-color-value;
@navbar-inverse-link-icon-hover-color-value: @navbar-inverse-link-hover-color-value;
@navbar-inverse-link-hover-bg-value: #8a5c7f;

@navbar-border-width-value: 0;

@btn-default-bg-value: #fcfcfc;
@btn-default-border-value: #c9c8cb;
@btn-default-hover-bg-value: darken(@btn-default-bg-value, 2%);
@btn-default-hover-border-value: darken(@btn-default-border-value, 2%);
@btn-default-active-bg-value: darken(@btn-default-bg-value, 5%);
@btn-default-active-border-value: darken(@btn-default-border-value, 5%);

@btn-text-color-value: #73747e;

@login-panel-heading-bg-value: @brand-primary-value;

@panel-default-bg-value: @panel-bg-value;
@panel-success-bg-value: #d1ebcf;
@panel-danger-bg-value: #f1d4d4;
@panel-warning-bg-value: #f5e3ad;

@modal-header-bg-value: @body-bg-value;

@dropdown-border-value: @default-border-color-value;

@select-item-border-value: @btn-default-border-value;

@border-radius-value: var(--6px);
@panel-border-radius-value: var(--10px);
@dropdown-border-radius-value: var(--6px);

@dropdown-border-width-value: var(--1px);
@panel-border-width-value: 0px;

@default-box-shadow-value: 2px 2px 4px rgba(0,0,0,0.09);
