@input-border-value: #ececec;
@body-bg-value: #e9e9f8;
@text-color-value: #424242;
@panel-bg-value: #FFF;

@site-footer-bg-value: @body-bg-value;

@navbar-bg-value: @body-bg-value;

@input-border-value: #e1e1e1;
@default-border-color-value: #dddddd;

@default-heading-bg-color-value: #f1f1f1;

@main-gray-value: #ececec;

@brand-primary-value: #6490b7;
@brand-success-value: #83CD77;
@brand-warning-value: #e4a133;

@navbar-inverse-color-value: #FFF;
@navbar-inverse-bg-value: #9a6373;
@navbar-inverse-link-color-value: #F7F7F7;

@btn-default-bg-value: #f9f9f9;
@btn-default-border-value: #cdc8d3;

@login-panel-heading-bg-value: @brand-primary-value;

@panel-default-bg-value: #f7f7f7;
@panel-success-bg-value: #d1ebcf;
@panel-danger-bg-value: #f1d4d4;

@modal-header-bg-value: @panel-default-bg-value;

@border-radius-value: 6px;
@panel-border-radius-value: 6px;
@dropdown-border-radius-value: 6px;

@dropdown-border-width-value: 0;
@panel-border-width-value: 0px;

@default-box-shadow-value: 2px 2px 4px rgba(0,0,0,0.09);

@scroll-border-width-value: 0;
@scroll-width-value: 10px;
