@input-border-value: #ececec;
@body-bg-value: #4c4c4c;

@panel-bg-value: #403d3d;

@panel-default-text-value: #dedede;
@panel-default-heading-bg-value: @panel-bg-value;

@text-color-value: #dedede;

@main-gray-value: #ececec;

@brand-primary-value: #6490b7;
@brand-success-value: #83CD77;
@brand-warning-value: #e4a133;

@link-color-value: #92b9db;

@navbar-inverse-color-value: #dedede;
@navbar-inverse-bg-value: #292929;
@navbar-inverse-link-color-value: #F7F7F7;
