#navbar .navbar {
    box-shadow: none;

    .navbar-right {
        box-shadow: none;
    }
}

body > #content > #main > .admin-content {
    .notifications-panel-container .list-group {
        .list-group-item:first-child {
            border-top: 0;
        }
        .list-group-item:last-child {
            border-bottom: 0;
        }
    }
}

.record .stick-sub.button-container {
    background-color: var(--navbar-bg) !important;
    padding-bottom: 0;
}
