@body-bg-value: #e5e9eb;
@white-color-value: #FFF;
@panel-bg-value: @white-color-value;

@link-color-value: #5b8fc8;

@navbar-inverse-bg-value: #4e6d83;
@navbar-inverse-color-value: #a9b9c1;
@navbar-inverse-link-color-value: #e5e5e5;
@navbar-inverse-link-active-bg-value: darken(@navbar-inverse-bg-value, 10%);
@navbar-inverse-link-hover-color-value: @navbar-inverse-link-color-value;
@navbar-inverse-link-icon-color-value: @navbar-inverse-link-color-value;
@navbar-inverse-link-icon-hover-color-value: @navbar-inverse-link-color-value;
@navbar-inverse-link-hover-bg-value: #476376;

@navbar-border-width-value: 0px;

@state-info-bg-value: #e2dbf2;
@state-info-text-value: #8e7cab;

@brand-success-value: #85b75f;
@brand-primary-value: #537898;
@brand-info-value: #aba8cc;
@brand-warning-value: #e4a133;
@brand-danger-value: #d56772;

@panel-default-border-value: #dcdcdc;
@panel-default-bg-value: @panel-bg-value;

@panel-primary-bg-value: #d0e6f9;
@panel-success-bg-value: #cee0ba;
@panel-danger-bg-value: #ebccd1;
@panel-warning-bg-value: #efda97;

@btn-default-bg-value: #f7f7f7;
@btn-default-border-value: #c7c7c7;
@btn-default-hover-bg-value: darken(@btn-default-bg-value, 3%);
@btn-default-hover-border-value: darken(@btn-default-border-value, 3%);

@input-border-focus-value: #99b4cc;

@modal-backdrop-bg-value: fade(#a3b3c7, 50%);
@modal-header-bg-value: @body-bg-value;
@modal-footer-bg-value: @body-bg-value;
@modal-content-bg-value: @body-bg-value;
@modal-box-shadow-value: 0 0 15px rgba(0, 0, 0, 0.35);

@table-bg-value: @white-color-value;

@well-bg-value: @panel-bg-value;
@well-border-value: @panel-default-border-value;

@select-item-border-value: @btn-default-border-value;

@navbar-bg-value: @body-bg-value;

@login-panel-heading-bg-value: @brand-primary-value;

@panel-border-width-value: 0px;
@default-box-shadow-value: 2px 2px 4px rgba(0,0,0,0.09);

@border-radius-value: var(--5px);
@border-radius-small-value: var(--4px);
@panel-border-radius-value: var(--8px);
@dropdown-border-radius-value: var(--6px);
