.date-title {
    text-align: center !important;
}

.date-title h4 {
    margin: 10px 0 0;
}

.fc-event.event-canceled .fc-content {
    text-decoration: line-through !important;
}

.fc th {
    font-weight: normal;
}

.fc-content > .user > .avatar {
    position: relative;
    top: -1px;
}

.fc-time-grid-event .fc-bg {
    opacity: 0 !important;
}

.fc-state-default.fc-corner-left {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.fc-state-default.fc-corner-right {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.fc-event {
    border-radius: var(--border-radius) !important;
    background-color: none !important;
}

.dashlet-body div.calendar-container {
    height: 100% !important;
}

.fc-event {
    min-height: 19px !important;
}

.fc-day-grid-event .fc-time {
    font-weight: normal !important;
}


.fc-basic-view td.fc-week-number span, .fc-basic-view td.fc-day-number {
    padding-top: 0 !important;
}

.fc-ltr .fc-basic-view .fc-day-top {
    text-align: right !important;
}

@media screen and (max-width: (@screen-sm-min - 1px)) {
    .fc-view-container {
        font-size: 85%;
    }
}

.fc-unthemed td.fc-today {
    background: var(--calendar-today-bg) !important;
}

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-content,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-list-heading td {
    border-color: var(--calendar-border) !important;
}

.fc-unthemed .fc-divider,
.fc-unthemed .fc-popover .fc-header,
.fc-unthemed .fc-list-heading td {
    background: var(--calendar-border) !important;
}

.fc-unthemed {
    .fc-event,
    .fc-event:hover {
        color: var(--text-white-color);
    }
}

.dashlet-body {
    .fc-basicWeek-view td.fc-widget-content,
    .fc-month-view .fc-body > tr > td.fc-widget-content {
        border-bottom: 0;
    }
}

