@input-border-value: @main-gray;
@body-bg-value: #FAFBFC;
@text-color-value: #424242;
@panel-bg-value: #FFF;

@navbar-bg-value: #f6f8ff;

@link-color-value: #6e86ca;

@main-gray-value: #E4E7F2;

@brand-primary-value: #768ED2;
@brand-success-value: #7BC169;
@brand-danger-value: #D06473;
@brand-warning-value: #e4a133;

@navbar-inverse-color-value: #FFF;
@navbar-inverse-bg-value: #8E5C9C;
@navbar-inverse-link-color-value: #F7F7F7;

@login-panel-heading-bg-value: @brand-primary-value;

@panel-default-bg-value: @navbar-bg-value;

@border-radius-value: 4px;
@panel-border-radius-value: 3px;
@dropdown-border-radius-value: 3px;
